/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 // custom color variables
$bookr-white: #ffffff;
$bookr-brown-dark: #221B1B;
$bookr-brown-mid: #493C3C;
$bookr-brown-light: #E4D4C8;
$bookr-red: #E42535;

body {
    background-color: $bookr-brown-light;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding-top: 1rem;
}

// Navbar custom styles
.navbar-custom {
  background-color: $bookr-brown-dark;
}

.navbar-custom .navbar-brand{
  color: $bookr-white;
}


.navbar-custom .nav-link {
  color: $bookr-brown-light;
}

.navbar-custom .nav-link:hover {
  color: $bookr-white;
}

.logo-class {
    max-width: 1.5rem;
    margin-right: 0.3rem;
    margin-top: -0.3rem;
}

//  landing page styles
.landing-content {
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.landing-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20rem;
  }

  .landing-img {
    max-width: 10rem;
  }


// Book shelf styles
.book {
    background-color: $bookr-brown-dark;
    border: 1px solid $bookr-brown-dark;
    border-radius: 12px;
    box-shadow: 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, border-color 0.3s;
    height: 350px;
    overflow: hidden;
    position: relative;
    display: flex;
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .book:hover {
    transform: scale(1.05);
    transform-origin: center center;
  }

  .book:focus-within {
    border: 5px solid $bookr-red;
  }
  
  .book-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .fade-in-animation {
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(8rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

.title-fade-in {
    animation: titleAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes titleAnimation {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

.empty-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.empty-message {
    color: $bookr-brown-dark;
    font-size: 2rem;
    font-style: italic;
}

.empty-button {
    text-decoration: none;
    color: $bookr-brown-dark;
    font-size: 2rem;
    margin-left: 1rem;
    font-family: var(--bs-body-font-family);
    transition: 1s;
    font-weight: 600;

    &:hover {
        color: $bookr-red;
        transform: scale(1.05);
    }
}

  .book-title {
    font-size: 1.75rem;
    color: $bookr-white;
  }
  
    .book-author {
        font-size: 1.25rem;
        color: $bookr-brown-light;
    }

.book-finished-date {
 color: $bookr-brown-light;
 font-style: italic;
}

.book-started-date {
    color: $bookr-brown-light;
    font-style: italic;
}

.book-stars {
    color: gold;
}
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .book-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .delete-icon {
    max-width: 2rem;
    margin: -0.5rem;
  }



  .open-link-container {
    width: 34px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .open-link {
    background-color: $bookr-brown-light;
    text-decoration: none;
    color: $bookr-brown-dark;
    width: 34px;
    height: 31px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    padding-top: 2px;
    &:hover {
        opacity: 0.75;
    }
}


// Show book styles
.show-container {
    display: flex;
    justify-content: center;
}

.show-book-content {
    background-color: $bookr-brown-dark;
    border-radius: 8px;
    width: 50%;
    min-height: 700px;
    padding: 1rem;
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: 2rem rgba(0, 0, 0, 0.2);
}

.book-form-spacing {
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.show-book-title {
    color: $bookr-white;
    font-size: 3.5rem;
}

.show-book-author {
    color: $bookr-brown-light;
    font-size: 2.5rem;
}



.show-book-finished-date {
    color: $bookr-brown-light;
    font-style: italic;
    margin: 0;
   }
   
   .show-book-started-date {
       color: $bookr-brown-light;
       font-style: italic;
   }
   
   .show-book-stars {
       color: gold;
   }

.show-book-label {
    color: $bookr-white;
}

   .show-book-thoughts {
    color: $bookr-brown-dark;
    background-color: $bookr-white;
    border: 2px solid $black;
    border-radius: 8px;
    padding: 1rem;
    min-height: 300px;
    height: fit-content;
}


.show-book-back-container {
    width: 34px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.show-book-back {
    background-color: $bookr-brown-light;
    text-decoration: none;
    color: $bookr-brown-dark;
    width: 34px;
    height: 31px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    padding-top: 2px;
    &:hover {
        opacity: 0.75;
    }
}

.show-book-buttons-container {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.show-delete-icon {
    max-width: 2rem;
    margin: 0rem;
  }


.show-book-edit-container {
    width: 4rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.show-book-edit {
    background-color: $bookr-brown-light;
    text-decoration: none;
    color: $bookr-brown-dark;
    width: 4rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    padding-top: 8px;
    &:hover {
        opacity: 0.75;
    }
}

// New Entry page custom styles
.new-entry-container {
    max-width: 600px;
    margin: 0px auto;
    padding: 0px 20px 20px 20px;
    background-color: $bookr-brown-light;
    border-radius: 8px;
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    color: $bookr-brown-dark;
    font-weight: bold;
  }

  .form-label-edit {
    color: $bookr-brown-light;
    font-weight: bold;
  }
  
  .form-control {
    border: 2px solid $bookr-brown-dark;
    border-radius: 4px;
    padding: 10px;
    transition: border-color 0.3s;
  }
  
  .form-control:focus {
    border-color: $bookr-red;
    box-shadow: 0 0 5px rgba($bookr-red, 0.5);
  }
  
  .form-control-checkbox {
    display: inline-block;
    margin-top: 0.5rem;
  }

  .thoughts-input {
    min-height: 500px;
  }
  
  .btn-custom {
    background-color: $bookr-red;
    border-color: $bookr-red;
    color: $bookr-white;
  }
  
  .btn-custom:hover,
  .btn-custom:focus {
    background-color: darken($bookr-red, 10%);
    border-color: darken($bookr-red, 10%);
  }
  
  .btn-secondary {
    background-color: $bookr-brown-dark;
    border-color: $bookr-brown-dark;
    color: $bookr-white;
  }
  
  .btn-secondary:hover,
  .btn-secondary:focus {
    background-color: darken($bookr-brown-dark, 10%);
    border-color: darken($bookr-brown-dark, 10%);
  }

  .action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .new-entry-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .new-entry-img {
    max-width: 10rem;
  }